FORMAT: 1A
HOST: http://api.spiderlog.net

# Spider Log API
Provides services for the Spider Log app family

# Group Spiders
Access to Spider Resources

## My Spiders [/spiders{?page,size}]
### Get all my spider sightings [GET]
+ Parameters
    + page (required, number, 1 )... page number
    + size (required, number, 10 )... page size
    
+ Request

    + Header
    
            Authorization: Basic dXNlcjpwYXNz
            x-api-version: 1.0
            
+ Response 200 (application/json)

    + Header
        
            ETag: "euyfewuyfvew76f7"
            cache-control: max-age=600
            
    + Body

            {
                "page":
                {
                    "number": 1,
                    "size": 10,
                    "totalPages": 20
                }
                "spiders" :
                [
                    {
                        "sightedAt" : "2014-08-29T07:00".
                        "imageUrl" : "https://www.test.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                        "description" : "Spider I saw on the train",
                        "tags": [
                            "stripy"
                        ]
                    },
                    {
                        "sightedAt" : "2014-08-29T13:00".
                        "imageUrl" : "https://www.test.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                        "description" : "Spider I saw in the office",
                        "tags": [
                            "big"
                        ]
                    },
                    {
                        "sightedAt" : "2014-08-29T19:00".
                        "imageUrl" : "https://www.test.com/uid-19247681/201408/14562881209_046a7f4d3d_z.jpg",
                        "description" : "Spider I saw at home",
                        "tags": [
                            "big",
                            "stripy"
                        ]
                    }
                ]
            }